html {
    font-size: 10px;
    letter-spacing: -0.03em;
}

.width-100 {
    width: 100%;
}
.pd-0 {
    padding: 0 !important;
}
.mg-0 {
    margin: 0 !important;
}

.fw-400 {
    /*regular*/
    font-weight: 400;
}
.fw-500 {
    /*medium*/
    font-weight: 500;
}
.fw-700 {
    /*bold*/
    font-weight: 700;
}
.fw-900 {
    /*black*/
    font-weight: 900 !important;
}

.fs-18 {
    font-size: 1.8rem !important;
}
.fs-20 {
    font-size: 2rem;
}
.fs-22 {
    font-size: 2.2rem !important;
}
.fs-24 {
    font-size: 2.4rem !important;
}
.fs-26 {
    font-size: 2.6rem !important;
}

.fc-fff {
    color: #fff;
}
.fc-1313 {
    color: #131313 !important;
}
.flh-150 {
    line-height: 150%;
}

.border-none {
    border: none !important;
}

.bg-fff {
    background-color: #fff !important;
}

.pst-50 {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.left-50 {
    left: 50%;
}

.scroll-off {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* vue modal custom*/
.v--modal-overlay {
    background-color: rgba(13, 13, 13, 0.7);
}
.v--modal-overlay .btn_close {
    position: fixed;
    left: 0;
    bottom: -5%;
    padding: 15px 0;
    width: 100%;
    height: 15%;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    color: #fff;
    border: none;
    z-index: 99999 !important;
    background-color: transparent;
}
.v--modal-overlay .btn_close > .inner {
    max-width: 525px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    justify-content: center;
}
.v--modal-overlay .btn_close i {
    font-size: 20px;
}
.v--modal-overlay .btn_close .txt {
    display: inline-block;
}
.v--modal-overlay .v--modal-box {
    left: 0 !important;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    max-width: 540px !important;
}
.payment .v--modal-overlay .v--modal-box {
    border: 2px solid #c4c4c4 !important;
}
.v--modal-overlay .v--modal-box .cont {
    height: 450px;
    overflow: auto !important;
}

.noscroll {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.ir {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}
